<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>df</string>
		<key>age</key>
		<integer>22</integer>
		<key>isMan</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>fast</string>
		<key>age</key>
		<integer>18</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>dfhg</string>
		<key>age</key>
		<integer>34</integer>
		<key>isMan</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>jlkgfd</string>
		<key>age</key>
		<integer>65</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>hrts</string>
		<key>age</key>
		<integer>80</integer>
		<key>isMan</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>oiut</string>
		<key>age</key>
		<integer>21</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>hgf</string>
		<key>age</key>
		<integer>33</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>fku</string>
		<key>age</key>
		<integer>84</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>cn</string>
		<key>age</key>
		<integer>32</integer>
		<key>isMan</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>gnf</string>
		<key>age</key>
		<integer>38</integer>
		<key>isMan</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>jogids</string>
		<key>age</key>
		<integer>10</integer>
		<key>isMan</key>
		<false/>
	</dict>
	<dict>
		<key>name</key>
		<string>mthe</string>
		<key>age</key>
		<integer>29</integer>
		<key>isMan</key>
		<true/>
	</dict>
</array>
</plist>
